<div class="jumbotron jumbotron-fluid bg-transparent text-light">
    <div class="container my-5">
        <br> <br> <br> <br>
        <h3 class="display-5">Experience The</h3>
        <h1 class="display-4 font-italic mb-3">Best Trip Ever</h1>
        <p class="lead mb-4">We are commited to offering travel services <br> of the highest quality. Combinig our energy <br> and enthusiasm with years of experience.</p>
        <p><a class="btn btn-outline-light btn-lg " href="#" role="button">Contact Us</a></p>
    </div>
</div>